
<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
      <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;"> 
      </a> 
</div>

<!--一扫光仓储物流基地 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/wljd1.png" alt="一扫光仓储物流基地"/></div>
    <div class="wljd">
    	<dl class="dl1">
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/wljd.jpg" alt="一扫光仓储物流基地"/></dt>
            <dd><p>我们拥有三个超大规模的仓储基地：一扫光仓储物流中心、北上海物流基地、新建的一扫光第三仓储物流中心，占地面积约20000㎡，是以一扫光产品、仓储、物流运输和配送为一体的综合性仓储物流基地。</p><p>
每天商品流量上万件，全数字化管理，实行系统订货，精确配货；24小时全天候物流配送，捷达全国各地。</p></dd>
        </dl>
        <dl class="dl2">
        	<dt>国际化物流仓储系统</dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt1.jpg" alt="国际化物流仓储系统1"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt2.jpg" alt="国际化物流仓储系统2"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt3.jpg" alt="国际化物流仓储系统3"/></dd>
        </dl>
        <dl class="dl2">
        	<dt>一站式物流配送系统</dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt4.jpg" alt="一站式物流配送系统1"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt5.jpg" alt="一站式物流配送系统2"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ccxt6.jpg" alt="一站式物流配送系统3"/></dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--一扫光仓储物流基地 End-->