
<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
        <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
    </a> 
</div>
<!--位置 Start-->
  

<!--位置 End-->

<!--零食加盟专业品牌——不容错过的优质创业平台 Start-->
<div class="box9">
	<div class="ny-title">
        <img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh.png" alt="传播企业文化，强化品牌建设"/>
    </div>
    <div class="qywh">
    	<dl>
        	<dt>助力公益，时刻践行企业对社会的责任</dt>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh1.jpg" alt="牵手夕阳红，温暖老人心"/><p>牵手夕阳红，温暖老人心</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh2.jpg" alt="加强军民建设"/><p>加强军民建设</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh3.jpg" alt="心系国防，情满军营"/><p>心系国防，情满军营</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh4.jpg" alt="爱护环境，传播爱心"/><p>爱护环境，传播爱心</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh5.jpg" alt="文明出行，从我做起"/><p>文明出行，从我做起</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh6.jpg" alt="倡导绿色出行"/><p>倡导绿色出行</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh7.jpg" alt="学习红色文化"/><p>学习红色文化</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh8.jpg" alt="员工无偿献血"/><p>员工无偿献血</p></dd>
        </dl>
    	<dl>
            <dt>注重员工的精神建设，增强团队凝聚力</dt>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh13.jpg" alt="团队户外拓展训练3"/>
        	<p>团队户外拓展训练1</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh10.jpg" alt="团队室内拓展训练"/><p>团队室内拓展训练</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh11.jpg" alt="团队户外拓展训练1"/>
        	<p>团队户外拓展训练2</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh12.jpg" alt="团队户外拓展训练1"/>
        	<p>团队户外拓展训练3</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh9.jpg" alt="集团公司年会活动"/><p>集团公司年会活动</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh14.jpg" alt="年会员工签名留影1"/><p>年会员工签名留影1</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh15.jpg" alt="年会员工签名留影2"/><p>年会员工签名留影2</p></dd>
        	<dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qywh16.jpg" alt="年会优秀员工表彰"/><p>年会优秀员工表彰</p></dd>
        </dl>
    </div>
	<div class="clear"></div>
</div>
<!--零食加盟专业品牌——不容错过的优质创业平台 End-->