<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />



<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
      <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
      </a> 
</div>


<!--团队简介 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/gstd1.png" alt="团队简介"/></div>
    <div class="hyys-pt">
    	<dl>
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdjj.jpg" alt="团队简介"/></dt>
            <dd>
            	<p>一扫光集团下设市场、IT、采购、配货、研发、售后、行政、人力资源、品牌策划等多个核心部门，组织架构完善，团队专业且资深。</p>
            </dd>
        </dl>
    </div>
    
	<div class="clear"></div>
</div>
<!--团队简介 End-->

<!--团队创新力活跃，执行力超强 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx.png" alt="团队创新力活跃，执行力超强"/></div>
    <div class="tdcx">
    	<ul>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx1.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx2.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx3.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx4.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx5.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx6.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx7.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx8.jpg" alt="团队创新力活"/></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/tdcx9.jpg" alt="团队创新力活"/></li>
        </ul>
    </div>
	<div class="clear"></div>
</div>
<!--团队创新力活跃，执行力超强 End-->

<!--休闲零食行业分析——民以食为天，永不饱和的市场 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/gstd2.png" alt="休闲零食行业分析——民以食为天，永不饱和的市场"/></div>
    <div class="fenxi">
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj1.jpg" alt="市场部"/></dt>
            <dd><strong>市场部</strong>
            	<p>一站式整店输出模式，为客户提供360°全方位服务，实现拎包开店无忧经营</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj2.jpg" alt="IT部"/></dt>
            <dd><strong>IT部</strong>
            	<p>先进的ERP管理系统，真正实现整体营销的管理，助力于店铺业绩的有效增长</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj3.jpg" alt="采购部"/></dt>
            <dd><strong>采购部</strong>
            	<p>13+1大类，1000多款畅销单品，为全球吃货甄选美味、安全、健康的各国零食</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj4.jpg" alt="配货部"/></dt>
            <dd><strong>配货部</strong>
            	<p>建立了全国口感坐标，深刻把握不同地域的消费需求，实现商品配置的优化组合</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj5.jpg" alt="商务车队"/></dt>
            <dd><strong>商务车队</strong>
            	<p>公司所聘司机均为10年驾龄以上的专职司机，每天以最好的状态等待发车命令</p>
            </dd>
      </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj6.jpg" alt="金牌服务中心"/></dt>
            <dd><strong>金牌服务中心</strong>
            	<p>一扫光专业督导老师遍布全国，目前公司已为市场输出20万人次专业门店精英</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj7.jpg" alt="直营店"/></dt>
            <dd><strong>直营店</strong>
            	<p>300平米的样板门店规模，功能齐全，为加盟商提供直营店的考察、学习等服务</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj8.jpg" alt="行政部"/></dt>
            <dd><strong>行政部</strong>
            	<p>为公司提供卫生、保洁、接待工作，为各部门的良好运营提供坚实的后勤保障基础</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj9.jpg" alt="人力资源部"/></dt>
            <dd><strong>人力资源部</strong>
            	<p>围绕公司经营目标和经营活动的开展，为公司的持续发展构建有效的人力资源平台</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bmjj10.jpg" alt="品牌部"/></dt>
            <dd><strong>品牌部</strong>
            	<p>一扫光每年投入数千万广告费，通过明星代言、网络推广等不断提升品牌的知名度</p>
            </dd>
        </dl>
    </div>
    
	<div class="clear"></div>
</div>