<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
        <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">   
    </a> 
</div>

<!--公司简介 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/lm1.png" alt="公司简介"/></div>
    <div class="gsjj">
    	<dl>
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/pic1.jpg" alt="一扫光大楼"/></dt>
            <dd>
            	<p>上海卡哇伊实业有限公司坐落于国际财富胜地——上海。公司拥有行业的休闲食品品牌"一扫光"，是当之无愧的休闲食品加盟行业专家之一，运营经验丰富，功力深厚。</p>
<p>公司致力于打造"绿色、健康、美味、营养、精致"的快乐休闲食品专卖体系，让人们不断发现美食的乐趣、生活的乐趣。一扫光食品精选优质原料，科学配比，种类多，品种全。13+1大类、50个系列、1000多款单品，覆盖全人群消费，搞定天下吃货。</p>
            </dd>
        </dl>
    </div>
    
	<div class="clear"></div>
</div>
<!--公司简介 End-->

<!--一扫光软硬实力兼备，缔造休闲食品加盟优秀企业 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/lm2.png" alt="一扫光软硬实力兼备，缔造休闲食品加盟优秀企业"/></div>
    <div class="rysl">
    	<ul>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl1.jpg" alt="5000㎡独栋办公楼"/><p>5000㎡独栋办公楼</p></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl2.jpg" alt="300㎡规模样板店"/><p>300㎡规模样板店</p></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl3.jpg" alt="20000㎡现代化仓储物流基地"/><p>20000㎡现代化仓储物流基地</p></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl4.jpg" alt="300㎡一扫光金牌服务中心"/><p>300㎡一扫光金牌服务中心</p></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl5.jpg" alt="一扫光ERP系统"/><p>一扫光ERP系统</p></li>
        	<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rysl6.jpg" alt="一扫光商学院"/><p>一扫光商学院</p></li>
        </ul>
        
        <dl>
        	<dt>精英人才齐聚一扫光，竭诚为您提供专业加盟服务</dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rcqj1.jpg" alt="精英人才齐聚一扫光，竭诚为您提供专业加盟服务"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rcqj2.jpg" alt="精英人才齐聚一扫光，竭诚为您提供专业加盟服务"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rcqj3.jpg" alt="精英人才齐聚一扫光，竭诚为您提供专业加盟服务"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/rcqj4.jpg" alt="精英人才齐聚一扫光，竭诚为您提供专业加盟服务"/></dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--一扫光软硬实力兼备，缔造休闲食品加盟优秀企业 End-->


<!--国家商务部认证，有资质有备案加盟更有保障 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/lm3.png" alt="国家商务部认证，有资质有备案加盟更有保障"/></div>
    <div class="baozhang">
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/baozhang_01.jpg" alt="国家商务部认证，有资质有备案加盟更有保障"/>
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/baozhang_02.jpg" alt="国家商务部认证，有资质有备案加盟更有保障"/>
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/baozhang_03.jpg" alt="国家商务部认证，有资质有备案加盟更有保障"/>
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/baozhang_04.jpg" alt="国家商务部认证，有资质有备案加盟更有保障"/>
    </div>
    
	<div class="clear"></div>
</div>
<!--国家商务部认证，有资质有备案加盟更有保障 End-->