<link href="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/css/jiameng.css" rel="stylesheet" type="text/css" />

<!--品牌优势专题 Start-->
<div class="bgred">
	<div class="box" style="background-color:#fff;">
    	<div class="weizhi">当前位置：<a href="../index.htm">主页</a> > <a href="../zhinan/index.htm">加盟指南</a> > <a href="index.htm">加盟条件</a></div>
       
       
       <div class="zhunbei_bn">
	<img height="544" src="http://www.ysg.cn/templets/ysg/images/fangan/zhunbei_banner.jpg" width="980" /></div>
<!--加盟条件-->
<div class="fn_bt">
	<h2 class="fn_bt1">
		<strong>加盟条件</strong></h2>
	<div class="fn_ollb">
		<ol>
			<li>
				遵守国家法律法规的相关规定，具有独立合法的法人或自然人资格。</li>
			<li>
				充分理解并高度认同一扫光休闲食品加盟店经营理念及运作方式；</li>
			<li>
				对休闲食品行业有一定的了解，并具有强烈的兴趣与加盟欲望；</li>
			<li>
				有一定的启动资金，且有投身休闲食品业的创业热情。</li>
			<li>
				具有（自购或租用）符合开店要求（门面宽不低于5米，使用面积不少于50㎡）的经营场所。</li>
			<li>
				服从公司的统一管理，接受公司的培训，有良好的信誉，有长远合作的态度；</li>
			<li>
				加盟商必须如实填写加盟申请书，综合考评审查合格后方可正式授权加盟；</li>
			<li>
				健康勤勉有创业热情，有一定的经商能力和管理、协调能力；</li>
			<li>
				具有理性的投资心态，能够客观地看待投资与回报的关系，没有暴利期求，并有一定的承担风险的能力。</li>
		</ol>
	</div>
</div>
<!--加盟条件 End--><!--加盟预算-->
<div class="fn_bt">
	<h2 class="fn_bt3">
		<strong>加盟预算</strong></h2>
	<div class="fn_content">
		<p style="text-align:center;">
			<span style="font-size:16px;"><strong>详情可参阅</strong></span><span id="cke_bm_112S" style="display: none;">&nbsp;</span>&nbsp; &nbsp;<a href="javascript:void(0)" onclick="online()"><span id="cke_bm_102S" style="display: none;">&nbsp;</span><span id="cke_bm_103S" style="display: none;">&nbsp;</span><span id="cke_bm_104S" style="display: none;">&nbsp;</span>招商加盟</a> &gt; <a href="../fangan/index.htm">加盟方案<span id="cke_bm_112E" style="display: none;">&nbsp;</span><span id="cke_bm_104E" style="display: none;">&nbsp;</span><span id="cke_bm_103E" style="display: none;">&nbsp;</span><span id="cke_bm_102E" style="display: none;">&nbsp;</span></a></p>
	</div>
</div>
<!--加盟预算 End--><!--加盟流程-->
<div class="fn_bt">
	<h2 class="fn_bt6">
		<strong>加盟流程</strong></h2>
	<div class="fn_content_lc">
		<p style="text-align:center;">
			清晰流程，有效安排，快速帮您开店经验，有效、精准、全方位服务到家。</p>
		<div class="liucheng_jd png clearfix">
			<h3>
				阶段（3天）</h3>
			<div>
				<strong>加盟咨询</strong>
				<p>
					加盟商通过官网或者加盟电话进行加盟咨询。加盟顾问详细介绍公司，详细了解加盟商需求，邀请加盟商考察总部或免费邮寄加盟资料。</p>
			</div>
			<div>
				<strong>市场调研</strong>
				<p>
					加盟商填写加盟意向申请表，以便进行市场调研。业务员随时接受加盟商的咨询，回答相关问题。为您个性化定制加盟投资方案，提供市场分析报告。</p>
			</div>
			<div>
				<strong>总部考察</strong>
				<p>
					加盟商考察一扫光总部。参观培训基地以及直营店。总部负责专车接送，总部安排业务经理全程陪同讲解。</p>
			</div>
		</div>
		<div class="liucheng_jd png clearfix">
			<h3>
				第二阶段（8天）</h3>
			<div>
				<strong>申请加盟</strong>
				<p>
					加盟商提出自愿加盟意向、提交加盟意向表。总部对加盟商进行资质审定及加盟商详细信息资料备案。</p>
			</div>
			<div>
				<strong>签订合同</strong>
				<p>
					加盟商确定加盟，缴纳定金。总部提供合理的投资方案，配置产品及相关设备方案。</p>
			</div>
			<div>
				<strong>专业培训、店面装修</strong>
				<p>
					加盟店装修。加盟商培训、营业员培训，熟悉加盟店一切日常运营流程和技能。对加盟商进行理论+实践全方位培训，培训合格方能开业。</p>
			</div>
		</div>
		<div class="liucheng_jd png clearfix">
			<h3>
				第三阶段（5-10天）</h3>
			<div>
				<strong>整店输出</strong>
				<p>
					加盟商申请营业执照。店面装潢施工、工程验收。总部提供注册相关手续。门店规划设计，装修指导。产品配置，运营指导、促销方案、商品铺货、门店督导。</p>
			</div>
			<div>
				<strong>正式开业</strong>
				<p>
					加盟商开业前营销宣传实施。开业仪式。个性定制开业营销计划，提供运营指导。后期督导全程跟进。</p>
			</div>
			<div>
				<strong>加盟支持</strong>
				<p>
					加盟商门店日常运营管理、会员管理、全年营销活动策划、执行运营指导永续服务、营销策划后续支持、品牌提升，系统支持。</p>
			</div>
		</div>
	</div>
</div>