<link href="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/css/about.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="http://www.ysg.cn/templets/ysg/css/jquery.fancybox-1.3.4.css" media="screen" />

<!--品牌优势专题 Start-->
<div class="bgred">
	<div class="box" style="background-color:#fff;">
    	<div class="weizhi">当前位置：<a href="../index.htm">主页</a> > <a href="../guanyuwomen/index.htm">关于我们</a> > <a href="index.htm">合作媒体</a> > </div>
        <div><img src="http://www.ysg.cn/templets/ysg/images/meitihezuo/1.jpg" width="980" height="500" alt="一扫光360度营销支持!我们致力于打造全球知名休闲食品销售品牌，不断的创新、改变、提升，通过不同的传播途径，有效的推广品牌，进行各类品牌活动为加盟尚提供360°的营销支持。"/></div>
         <div><img src="http://www.ysg.cn/templets/ysg/images/meitihezuo/2.jpg" width="980" height="697" alt="一扫光明星代言！通过明星效应不断提升，品牌人气！ 也通过明星代言，肯定了品牌实力！"/></div>
         <div><img src="http://www.ysg.cn/templets/ysg/images/meitihezuo/3.jpg" width="980" height="336" alt="一扫光广告投放"/></div>
         <div><img src="http://www.ysg.cn/templets/ysg/images/meitihezuo/4.jpg" width="980" height="579" alt="一扫光户外广告宣传投放！增加品牌曝光度，区域性强，在闹市区及人流较多的区域投放"/></div>
         <div><img src="http://www.ysg.cn/templets/ysg/images/meitihezuo/5.jpg" width="980" height="335" alt="一扫光电视&网络广告宣传投放！关注度广，投放度高，能有效的进行传播，有效增加品牌的活跃度"/>
         </div>
    </div>
</div>