<link href="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/css/about.css" rel="stylesheet" type="text/css" />

<div class="bgred">
	<div class="box" style="background-color:#fff;">
    	<div class="weizhi">当前位置：<a href="../index.htm" tppabs="http://www.ysg.cn/">主页</a> > <a href="../guanyuwomen/index.htm">关于我们</a> > <a href="index.htm">品牌简介</a>
        </div>
        <div class="gongsijs1">湘约一扫光 50个系列 13大类产品 &nbsp;多国原材料采购 1000多款产品</div>
        <div class="gongsijs2">
        	<h1>公司介绍</h1>
        </div>
        <div class="js_content">
        	<p>
        		上海卡哇伊实业有限公司坐落于国际财富胜地&mdash;&mdash;上海。公司拥有行业的休闲食品品牌&quot;一扫光&quot;，是当之无愧的休闲食品加盟行业专家之一，运营经验丰富，功力深厚。</p>
        	<p style="margin-top:16px;">
        		公司致力于打造&quot;绿色、健康、美味、营养、精致&quot;的快乐休闲食品专卖体系，让人们不断发现美食的乐趣、生活的乐趣。一扫光食品精选优质原料，科学配比，种类多，品种全。13大类、50个系列、1000多款单品，覆盖全人群消费，搞定天下吃货。</p>
        	<div class="clearfix js_content1">
        		<img src="http://www.ysg.cn/templets/ysg/images/gongsijieshao/4.jpg" style="width: 402px; height: 317px;" />
        		<div>
        			<h3>
        				产品系列包括：</h3>
        			<ul>
        				<li>
        					<strong>休闲零食：</strong><span>坚果炒货类、海鲜类、肉品类、糕点类、糖果类、蜜饯类、聚会食品类；</span></li>
        				<li>
        					<strong>保健功能：</strong><span>防辐射类、白领减压类、美肤美体类；</span></li>
        				<li>
        					<strong>特殊人群：</strong><span>儿童食品类、孕妇食品类、三高人群食品；</span></li>
        				<li>
        					<strong>食品：</strong><span>台湾零食、韩国零食、日本零食、美国零食、新马泰零食、其他地区零食；</span></li>
        				<li>
        					<strong>高档礼盒：</strong><span>标准礼盒+定制礼盒，满足个人及企事业单位各类所需。</span></li>
        			</ul>
        		</div>
        	</div>
	       <p>多年来，公司紧扣市场凭借优秀的软硬件实力，集年加盟业辉煌沉淀，持续创造出毛利超50%以上的行业奇迹。一扫光休闲食品品牌是创业者的创富平台。</p>
        </div>
    <div class="gongsijs3">&gt;企业文化&mdash;&mdash;诚信经营 不断创新 求卓越 合作共赢</div>
    <div class="wenhua">
    	<div class="wh1">
    		<strong>公司理念</strong>
    		<p>
    			一扫光休闲食品企业建立了一套先进的管理体系，并将企业文化作为公司一切管理活动的主宰，这种企业文化包含企业宗旨、信念、伦理、传统作风、行为规范以及由此而形成的经营哲学、管理思想、管理方法乃至规章制度。让更多的消费者享受&quot;一扫光&quot;公司的优质产品，树休闲食品同行业服务之典范！</p>
    	</div>
    	<div class="wh2">
    		<strong>愿景</strong>
    		<p>
    			励志成为休闲食品加盟企业，实现和客户合作共赢</p>
    	</div>
    	<div class="wh3">
    		<strong>使命</strong>
    		<p>
    			成就更多的合作盈利模式，成就更多优秀员工服务于一线，服务于客户</p>
    	</div>
    	<div class="wh4">
    		<strong>宗旨</strong>
    		<p>
    			、采购更多国内外美味健康休闲美食，服务全人类</p>
    	</div>
    	<div class="wh5">
    		<strong>精神</strong>
    		<p>
    			严谨、创新、坚持<br />
    			不断向上、不断前进、不断创新、不断努力</p>
    	</div>
    </div>