
<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />


<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
     <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
      </a> 
</div>
<!--位置 Start-->


<!--位置 End-->

<!--零食加盟专业品牌——不容错过的优质创业平台 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppys1.png" alt="零食加盟专业品牌——不容错过的优质创业平台"/></div>
    <div class="ppys">
    	<p>多年来，一扫光集团公司紧扣市场、销售、品牌、服务、管理、培训、物流等多个环节，凭借超一流的软硬件实力，长久保持行业先锋优势，集原料采购、全产业链覆盖、全程联网管理、终身营销服务于一身，运营经验丰富，功力深厚。</p>
        <div><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zypp1.jpg" alt="零食加盟专业品牌——不容错过的优质创业平台"/></div>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--零食加盟专业品牌——不容错过的优质创业平台 End-->

<!--明星代言强劲推广  提升品牌知名度 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppys2.png" alt="明星代言强劲推广  提升品牌知名度"/></div>
    <div class="ppys">
    	<p>2015年6月10日，李湘顺利与一扫光零食量贩签约，正式成为一扫光品牌代言人。一扫光与李湘的强强联手，打造消费者受欢迎的零食品牌，进一步火爆一扫光加盟店的生意！</p>
        <div class="ppys-div"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qjtg1.jpg" alt="一扫光零食量贩签约"/></div>
    	<p>一扫光强势品牌推广，巨额广告投入，通过明星代言、媒体广告、公交广告、综合报道等全方位立体化整合媒体策略，持续扩大品牌影响力！</p>
        <div><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qjtg2.jpg" alt="一扫光强势品牌推广"/></div>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--明星代言强劲推广  提升品牌知名度 End-->




<!--坚持自主品牌 创造行业标杆 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppys3.png" alt="坚持自主品牌 创造行业标杆"/></div>
    <div class="ppys">
    	<p>多国采购：高品质原料世界多国采购。生产规模：5000㎡办公场所、20000㎡仓储物流基地。推广规模：每年高达3000万元的品牌推广费用。门店利润：单店利润远超行业平均水平</p>
        <div><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/jcpp1.jpg" alt="坚持自主品牌 创造行业标杆"/></div>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--坚持自主品牌 创造行业标杆 End-->





<!--超水准服务提升品牌专业高度 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppys4.png" alt="超水准服务提升品牌专业高度"/></div>
    <div class="fenxi">
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppzy1.jpg" alt="金牌服务中心"/></dt>
            <dd><strong>金牌服务中心</strong>
            	<p>一扫光金牌服务中心作为专业的服务机构，为加盟商提供运营、管理、售后等保障。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppzy2.jpg" alt="采购品控能力"/></dt>
            <dd><strong>采购品控能力</strong>
            	<p>拥有资深运营团队，对门店的订货、数据、库存管理等极尽专业，经营手法行业领先。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ppzy3.jpg" alt="质量品控中心"/></dt>
            <dd><strong>质量品控中心</strong>
            	<p>品控部每月15%的新品更新率，是一扫光产品决胜终端的重要技术保障。</p>
            </dd>
        </dl>
    	
    </div>
    
    
	<div class="clear"></div>
</div>
<!--超水准服务提升品牌专业高度 End-->