<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
      <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
      </a> 
</div>
<!--位置 Start-->



<!--位置 End-->

<!--加盟支持 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/jmzc.png" alt="加盟支持"/></div>
    <div class="jmzc1">
    	<dl class="dl1">
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bdty.jpg" alt="8大统一管理运营"/></dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1.jpg" alt="形象统一"/><p>形象统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-07.jpg" alt="服务统一"/><p>服务统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-08.jpg" alt="品质统一"/><p>品质统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-09.jpg" alt="价格统一"/><p>价格统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-10.jpg" alt="配送统一"/><p>配送统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-11.jpg" alt="宣传统一"/><p>宣传统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-12.jpg" alt="培训统一"/><p>培训统一</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-13.jpg" alt="活动统一"/><p>活动统一</p></dd>
        </dl>
    	<dl class="dl2">
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sdzb.jpg" alt="10大总部后备支持"/></dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-15.jpg" alt="管理支持"/><p>管理支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-16.jpg" alt="形象支持"/><p>形象支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-17.jpg" alt="物流支持"/><p>物流支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-18.jpg" alt="培训支持"/><p>培训支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-19.jpg" alt="推广支持"/><p>推广支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-20.jpg" alt="品牌支持"/><p>品牌支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-21.jpg" alt="荣誉支持"/><p>荣誉支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-22.jpg" alt="运营支持"/><p>运营支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-23.jpg" alt="服务支持"/><p>服务支持</p></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/zc1-24.jpg" alt="营销支持"/><p>营销支持</p></dd>
        </dl>
    	<dl class="dl3">
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/bbwp.jpg" alt="一扫光加盟店37项开业必备物品"/></dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sqwp_01.jpg" alt="一扫光加盟店37项开业必备物品"/><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sqwp_02.jpg" alt="一扫光加盟店37项开业必备物品"/></dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--加盟支持 End-->