<link href="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/css/about.css" rel="stylesheet" type="text/css" />

<!--二级菜单 End-->

<!--品牌优势专题 Start-->
<div class="bgred">
	<div class="box" style="background-color:#fff;">
    	<div class="weizhi">当前位置：<a href="../index.htm">主页</a> > <a href="../guanyuwomen/index.htm">关于我们</a> > <a href="index.htm">版权声明</a></div>
       
       
       <div style="text-align: center;">
	&nbsp;</div>
<div>
	<br />
	<span style="font-size: 12px;">　 &nbsp; &nbsp; &nbsp;</span><span style="font-size:16px;"><strong><span style="text-align: center;">一扫光零食量贩网站服务条款</span></strong></span><br />
	<br />
	<span style="font-size: 12px;">&nbsp; &nbsp;</span><span style="font-size: 12px;">　一扫光品牌网站的所有信息内容版权属于上海卡哇伊实业有限公司拥有，未经本公司的明确书面许可，任何人或媒体不得擅自使用&ldquo;一扫光&rdquo;、&ldquo;www.ysg.cn&rdquo;等商标信息。</span></div>
<div>
	　　</div>
<div>
	　　网站访问者在接受本网站服务之前，请仔细阅读以下条款。访问者访问本网站的行为以及通过各类方式参与本网站活动的行为，都将被视作是对本声明全部内容无异议；如有异议，请联系本站，并通过协商取得本网站的书面同意意见。</div>
<div>
	　　</div>
<div>
	　　一、版权声明</div>
<div>
	　　本站发布的所有内容，包括文字、图片、音像、视频、图表、商标等所有内容版权归上海卡哇伊实业有限公司所有。任何媒体、网站或个人未经本站书面授权许可不得转载或以其他形式使用。如其他媒体、网站或个人转载使用，必须保留注明稿件来源自本站，并自负法律责任。</div>
<div>
	　　</div>
<div>
	　　二、隐私保护</div>
<div>
	　　本站全力保证网站访问者所留下的个人信息安全和隐私权。</div>
<div>
	　　</div>
<div>
	　　三、免责声明</div>
<div>
	　　本网站若因服务器线路，非本公司控制范围的硬件故障，以及黑客政击、计算机病毒侵入或其它不可抗力而造成的个人资料泄露、丢失、被盗用等情况，本网站不负任何责任。</div>
<div>
	　　</div>
<div>
	　　</div>
<div>本网站声明内容修改权、更新权及终解释权均属上海卡哇伊实业有限公司所有。</div>