<link href="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/css/jiameng.css" rel="stylesheet" type="text/css" />

<div class="bgred">
	<div class="box" style="background-color:#fff;">
    	<div class="weizhi">当前位置：<a href="../index.htm">主页</a> > <a href="../zhinan/index.htm">加盟指南</a> > <a href="index.htm">加盟疑问</a></div>
        <div class="wenda"><img src="http://www.ysg.cn/templets/ysg/images/fangan/wenda.jpg" width="980" height="288" /></div>
        <div class="wenda_list">
	<ul>
		<li>
			<strong>零食店开店需要投资多少钱？</strong>
			<p>
				一扫光具体的投资基准按照门店面积、进货量、装潢设计等均有一定的调整，需要以实际情况为基础进行判断。</p>
		</li>
		<li>
			<strong>开零食加盟店吗，需要哪些证照？</strong>
			<p>
				正规手续需要三证，即个体工商营业执照、税务登记证、食品流通许可证。加盟店需在当地政府办证中心办理合法经营必须手续，包括工商营业执照、税务登记证、食品流通许可证、员工健康证等。以上证照自行办理，和普通食品店办证程序一致。办证程序是：首先需要申办食品流通许可证，之后才能申办营业执照和税务登记证。</p>
		</li>
		<li>
			<strong>一扫光保证金会退吗？</strong>
			<p>
				保证金在合同到期之后的2个月之内会无息返还（没有违规行为）</p>
		</li>
		<li>
			<strong>为何收取管理费用？</strong>
			<p>
				管理费用主要针对每个月推出新品的费用；新品海报更换的费用；后期人员需要培训的费用；督导管理的费用等等。</p>
		</li>
		<li>
			<strong>对于一个没有任何经验的零食行业创业者，应该怎么做？</strong>
			<p>
				休闲零食行业并不是难以入手的技术行业，一扫光总部给予加盟商再商品、陈列、营销、运营等全方位支持。</p>
		</li>
		<li>
			<strong>公司为加盟商提供怎样的帮助和支持？</strong>
			<p>
				一扫光为加盟商提供门店评估和策划、装修图纸设计、施工及相关跟踪服务，门店的投资预算、人员技术培训、产品培训、管理流程培训、系统表格的应用指导和统计、协助开店筹备，以及营业后定期督导管理、广告策划支持、新品更新等权利支持。</p>
		</li>
		<li>
			<strong>保证金什么时候返还？</strong>
			<p>
				如果没有违规行为，保证金在合同到期后的2个月之内返还。具体违规行为：不按时缴纳管理费；贩售伪劣、过期产品；不遵守公司的管理模式；不符合公司的装修风格。</p>
		</li>
		<li>
			<strong>加盟商如何培训？</strong>
			<p>
				所有加盟商在一扫光总部进行统一培训，培训内容包括：品牌理念、日常运营、商品知识、店面管理、促销技巧、服务导购、投诉处理、硬件培训、商品陈列、团购服务、财务处理、会员管理、网络销售等。培训时间是3-7天，培训不收取任何费用，加盟商食宿、车费、都有总部统一承担。</p>
		</li>
		<li>
			<strong>从提出申请到正式营业一般需要多长时间？</strong>
			<p>
				加盟商提出加盟申请一般当天就会得到回复；加盟商有意向店铺，公司会在2天之内考察；从签订合同到开业预计15天。</p>
		</li>
		<li>
			<strong>原材料必须通过公司订购吗？</strong>
			<p>
				为了保证零食的口味、健康及品牌形象，加盟商原材料须统一通过公司订购，加盟商不得自行购买。</p>
		</li>
		<li>
			<strong>公司如何发货？</strong>
			<p>
				公司一般通过物流发货，物流费是支付给物流公司的，由加盟商自行承担。</p>
		</li>
		<li>
			<strong>可以调换货吗？</strong>
			<p>
				一扫光对加盟商允许调换货，详情以加盟合同规定的调换货细则为准。</p>
		</li>
	</ul>
</div>
<br />
	
    </div>
</div>