<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ä¸€æ‰«å…‰é›¶é£Ÿåº—åŠ ç›Ÿç”µè¯_ä¸€æ‰«å…‰ä¼‘é—²é£Ÿå“å®˜ç½‘_ä¸€æ‰«å…‰ä¼‘é—²é£Ÿå“åŠ ç›Ÿ</title>
<meta name="keywords" content="ä¸€æ‰«å…‰é›¶é£Ÿåº—åŠ ç›Ÿç”µè¯" />
<meta name="description" content="ä¸€æ‰«å…‰ä¼‘é—²é£Ÿå“å®˜ç½‘" />
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.ysg.cn/lianxi/" /><meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.ysg.cn/lianxi/" /><meta http-equiv="mobile-agent" content="format=html5; url=http://m.ysg.cn/lianxi/" />
<script src="../templets/ysg/js/uaredirect.js" tppabs="http://www.ysg.cn/templets/ysg/js/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("http://m.ysg.cn/lianxi/");</script>
<link href="../templets/ysg/css/css.css" tppabs="http://www.ysg.cn/templets/ysg/css/css.css" rel="stylesheet" type="text/css" />
<link href="../templets/ysg/css/contact.css" tppabs="http://www.ysg.cn/templets/ysg/css/contact.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../templets/ysg/js/jquery-1.7.2.min.js" tppabs="http://www.ysg.cn/templets/ysg/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../templets/ysg/js/index.js" tppabs="http://www.ysg.cn/templets/ysg/js/index.js"></script>
<script type="text/javascript" src="../templets/ysg/js/jquery.fancybox-1.3.4.js" tppabs="http://www.ysg.cn/templets/ysg/js/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="../templets/ysg/js/jquery.mousewheel-3.0.4.js" tppabs="http://www.ysg.cn/templets/ysg/js/jquery.mousewheel-3.0.4.js"></script>
<link rel="stylesheet" type="text/css" href="../templets/ysg/css/jquery.fancybox-1.3.4.css" tppabs="http://www.ysg.cn/templets/ysg/css/jquery.fancybox-1.3.4.css" media="screen" />
        <script type="text/javascript">
	$(document).ready(function() {
		$("a[rel=example_group]").fancybox({
			'transitionIn':'none',
			'transitionOut':'none',
			'titlePosition':'over',
			'titleFormat':function(title, currentArray, currentIndex, currentOpts) {
				return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
			}
		});

		$("#various1").fancybox({
			'titlePosition':'inside',
			'transitionIn':'none',
			'transitionOut':'none'
		});
	});
</script>
<!--[if lte IE 6]>  
<script type="text/javascript" src="../templets/ysg/js/DD_belatedPNG_0.0.7a.js" tppabs="http://www.ysg.cn/templets/ysg/js/DD_belatedPNG_0.0.7a.js"></script>  
<script>  
  DD_belatedPNG.fix('.png,.png img,.flex-control-nav a');  
</script>  
<![endif]-->  

</head>
<body>
<div class="header">
	<div class="box1">
    	<div class="header_l png">
        	<div class="logo"><a href="../index.htm" tppabs="http://www.ysg.cn/"><img src="../templets/ysg/images/logo.jpg" tppabs="http://www.ysg.cn/templets/ysg/images/logo.jpg"  alt="ä¸€æ‰«å…‰é›¶é£Ÿé‡è´©"/></a></div>
            <div class="h_sc"><a href="javascript:void(0)" onclick="javascript:AddFavorite(window.location, document.title)">æ”¶è—ä¸€æ‰«å…‰</a></div>
        </div>
        <div class="h_wz"><img src="../templets/ysg/images/h_wz.png" tppabs="http://www.ysg.cn/templets/ysg/images/h_wz.png" class="png" width="133" height="58" /></div>
		
        <div class="h_dianhua">7x24Hå…è´¹çƒ­çº¿ï¼š4006181717</div>
         <div class="tonghua"><a href="javascript:void(0)" onclick="online()">å…è´¹é€šè¯</a></div>
    </div>
</div>



<strong><div class="menu">
	<div class="box1">
    	<ul>
        	<li><a href="../index.htm" tppabs="http://www.ysg.cn/">é¦–é¡µ</a></li>
            <li class='' ><a href="../guanyuwomen/index.htm" tppabs="http://www.ysg.cn/guanyuwomen/">å…³äºŽæˆ‘ä»¬</a>
            <div class="menu_xl xl1">
                <div class="box1">
                    <ul>
                       <li><a href="../guanyuwomen/gstd/index.htm" tppabs="http://www.ysg.cn/guanyuwomen/gstd/">å…¬å¸å›¢é˜Ÿ</a></li> <li><a href="../guanyuwomen/qywh/index.htm" tppabs="http://www.ysg.cn/guanyuwomen/qywh/">ä¼ä¸šæ–‡åŒ–</a></li> <li><a href="../guanyuwomen/ccwl/index.htm" tppabs="http://www.ysg.cn/guanyuwomen/ccwl/">ä»“å‚¨ç‰©æµ</a></li> <li><a href="../meiti/index.htm" tppabs="http://www.ysg.cn/meiti/">åˆä½œåª’ä½“</a></li> <li><a href="../news/index.htm" tppabs="http://www.ysg.cn/news/">æ–°é—»ä¸­å¿ƒ</a></li> <li><a href="../shengming/index.htm" tppabs="http://www.ysg.cn/shengming/">ç‰ˆæƒå£°æ˜Ž</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../zhinan/index.htm" tppabs="http://www.ysg.cn/zhinan/">åŠ ç›ŸæŒ‡å—</a>
            <div class="menu_xl xl2">
                <div class="box1">
                    <ul>
                       <li><a href="../zhinan/xyys/index.htm" tppabs="http://www.ysg.cn/zhinan/xyys/">è¡Œä¸šä¼˜åŠ¿</a></li> <li><a href="../zhinan/qspp/index.htm" tppabs="http://www.ysg.cn/zhinan/qspp/">å¼ºåŠ¿å“ç‰Œ</a></li> <li><a href="../zhinan/yxys/index.htm" tppabs="http://www.ysg.cn/zhinan/yxys/">è¥é”€ä¼˜åŠ¿</a></li> <li><a href="../zhinan/zbzc/index.htm" tppabs="http://www.ysg.cn/zhinan/zbzc/">æ€»éƒ¨æ”¯æŒ</a></li> <li><a href="../tiaojian/index.htm" tppabs="http://www.ysg.cn/tiaojian/">åŠ ç›Ÿæ¡ä»¶</a></li> <li><a href="../yiwen/index.htm" tppabs="http://www.ysg.cn/yiwen/">åŠ ç›Ÿç–‘é—®</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../fangan/index.htm" tppabs="http://www.ysg.cn/fangan/">åŠ ç›Ÿæ–¹æ¡ˆ</a>
            <div class="menu_xl xl1">
                <div class="box1">
                    <ul>
                       <li><a href="../fangan/two/index.htm" tppabs="http://www.ysg.cn/fangan/two/">æ—¶å°šåº—</a></li> <li><a href="../fangan/three/index.htm" tppabs="http://www.ysg.cn/fangan/three/">è±ªåŽåº—</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../touzi/index.htm" tppabs="http://www.ysg.cn/touzi/">æŠ•èµ„å¼€åº—</a>
            <div class="menu_xl xl2">
                <div class="box1">
                    <ul>
                       <li><a href="../lirun/index.htm" tppabs="http://www.ysg.cn/lirun/">åˆ©æ¶¦åˆ†æž</a></li> <li><a href="../chengben/index.htm" tppabs="http://www.ysg.cn/chengben/">æˆæœ¬è´¹ç”¨</a></li> <li><a href="../wenda/index.htm" tppabs="http://www.ysg.cn/wenda/">å¼€åº—é—®ç­”</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../anli/index.htm" tppabs="http://www.ysg.cn/anli/">æˆåŠŸæ¡ˆä¾‹</a>
            <div class="menu_xl xl1">
                <div class="box1">
                    <ul>
                       <li><a href="../fengcai/index.htm" tppabs="http://www.ysg.cn/fengcai/">åŠ ç›Ÿå•†é£Žé‡‡</a></li> <li><a href="../ganyan/index.htm" tppabs="http://www.ysg.cn/ganyan/">åŠ ç›Ÿå•†æ„Ÿè¨€</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../products/index.htm" tppabs="http://www.ysg.cn/products/">äº§å“å±•ç¤º</a>
            <div class="menu_xl xl2">
                <div class="box1">
                    <ul>
                       <li><a href="../products/fenlei/index.htm" tppabs="http://www.ysg.cn/products/fenlei/">äº§å“åˆ†ç±»</a></li> <li><a href="../xinpin/index.htm" tppabs="http://www.ysg.cn/xinpin/">æ–°å“ä¸Šçº¿</a></li> 
                    </ul>
                  </div>
            </div>
            </li><li class='' ><a href="../qiyenews/index.htm" tppabs="http://www.ysg.cn/qiyenews/">ä¼ä¸šæ–°é—»</a>
            <div class="menu_xl xl1">
                <div class="box1">
                    <ul>
                       
                    </ul>
                  </div>
            </div>
            </li><li class='dq' ><a href="index.htm" tppabs="http://www.ysg.cn/lianxi/">è”ç³»æ–¹å¼</a>
            <div class="menu_xl xl2">
                <div class="box1">
                    <ul>
                       
                    </ul>
                  </div>
            </div>
            </li>

        </ul>
         
    </div>
</div></strong>
<meta name="baidu-site-verification" content="wgHyfKiamh" />








<div class="box" style="background-color:#fff; margin-top:36px;">
	<div>
		<img height="418" src="../templets/ysg/images/contact/1.jpg" tppabs="http://www.ysg.cn/templets/ysg/images/contact/1.jpg" width="980" /></div>
	<div class="clearfix contact">
		<img alt="ä¸€æ‰«å…‰å¤§æ¥¼" height="399" src="../templets/ysg/images/gongsijieshao/4.jpg" tppabs="http://www.ysg.cn/templets/ysg/images/gongsijieshao/4.jpg" width="357" />
		<div class="contact_js">
			<h1>
				ä¸€æ‰«å…‰å…¬å¸</h1>
			<p>
				å…¨å›½ç»Ÿä¸€åŠ ç›Ÿçƒ­çº¿ï¼š400-618-1717 021-57727777</p>
			ä¼ çœŸï¼š021-60820909<br />
			ç½‘å€ï¼šhttp://www.ysg.cn<br />
			é‚®ç®±ï¼šysg1717@126.com<br />
			åœ°å€ï¼šä¸­å›½ä¸Šæµ·å¸‚æ²ªå¤ªè·¯3100å·å°šå¤§å›½é™…Dåº§413å®¤<br />
			ä¹˜è½¦è·¯çº¿ï¼šåœ°é“7å·çº¿ä¸Šå¤§è·¯ç«™4å·å£å‡ºã€528ã€828ç­‰</div>
	</div>
</div>
	


<div class="footer_nav">
	<div class="box">
    	<a href="../index.htm" tppabs="http://www.ysg.cn/" title="ä¸€æ‰«å…‰ä¼‘é—²é£Ÿå“åŠ ç›Ÿ">ç½‘ç«™é¦–é¡µ</a>
       	<a href="../guanyuwomen/index.htm" tppabs="http://www.ysg.cn/guanyuwomen/"  title="å…³äºŽæˆ‘ä»¬">å…³äºŽæˆ‘ä»¬</a>
		<a href="../products/index.htm" tppabs="http://www.ysg.cn/products/"  title="äº§å“å±•ç¤º">äº§å“å±•ç¤º</a>
		<a href="index.htm" tppabs="http://www.ysg.cn/lianxi/"  title="è”ç³»æ–¹å¼">è”ç³»æ–¹å¼</a>
		<a href="../map/index.htm" tppabs="http://www.ysg.cn/map/"  title="ç½‘ç«™åœ°å›¾">ç½‘ç«™åœ°å›¾</a>
    </div>
</div>
<div class="footer">
	<div class="box">
    	<div class="clearfix">
        	<div class="footer_logo"><img src="../templets/ysg/images/footer_logo.png" tppabs="http://www.ysg.cn/templets/ysg/images/footer_logo.png" class="png" /></div>
            <div class="footer_dh">
            	<span><img src="../templets/ysg/images/footer_dh.png" tppabs="http://www.ysg.cn/templets/ysg/images/footer_dh.png" width="229" height="49" class="png" /></span>
                
            </div>
            <div class="footer_wx">
            	<img src="../templets/ysg/images/footer_wx.png" tppabs="http://www.ysg.cn/templets/ysg/images/footer_wx.png" width="101" height="101" class="png" />
                <p>æ‰‹æœºè½»æ¾æ‰«ä¸€æ‰«<br />å…³æ³¨ä¸€æ‰«å…‰äºŒç»´ç <br />æƒŠå–œä¹ä¸åœ</p>
            </div>
        </div>
        <div class="footer_wz">
        	<p>ä¸Šæµ·å¡å“‡ä¼Šå®žä¸šæœ‰é™å…¬å¸ ç‰ˆæƒæ‰€æœ‰ 2006-2017 <a href="javascript:if(confirm('http://www.miitbeian.gov.cn/  \n\n¸ÃÎÄ¼þÎÞ·¨ÓÃ Teleport Ultra ÏÂÔØ, ÒòÎª ËüÊÇÒ»¸öÓò»òÂ·¾¶Íâ²¿±»ÉèÖÃÎªËüµÄÆôÊ¼µØÖ·µÄµØÖ·¡£  \n\nÄãÏëÔÚ·þÎñÆ÷ÉÏ´ò¿ªËü?'))window.location='http://www.miitbeian.gov.cn/'" tppabs="http://www.miitbeian.gov.cn/" style="color:#B25900" rel='nofollow'>æ²ªICPå¤‡15007550å·</a> </p>
<p><a href="javascript:if(confirm('http://www.miitbeian.gov.cn/  \n\n¸ÃÎÄ¼þÎÞ·¨ÓÃ Teleport Ultra ÏÂÔØ, ÒòÎª ËüÊÇÒ»¸öÓò»òÂ·¾¶Íâ²¿±»ÉèÖÃÎªËüµÄÆôÊ¼µØÖ·µÄµØÖ·¡£  \n\nÄãÏëÔÚ·þÎñÆ÷ÉÏ´ò¿ªËü?'))window.location='http://www.miitbeian.gov.cn/'" tppabs="http://www.miitbeian.gov.cn/" style="color:#B25900" rel='nofollow'>æ²ªICPå¤‡15007550å·</a> <a target="_blank" href="javascript:if(confirm('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003912  \n\n¸ÃÎÄ¼þÎÞ·¨ÓÃ Teleport Ultra ÏÂÔØ, ÒòÎª ËüÊÇÒ»¸öÓò»òÂ·¾¶Íâ²¿±»ÉèÖÃÎªËüµÄÆôÊ¼µØÖ·µÄµØÖ·¡£  \n\nÄãÏëÔÚ·þÎñÆ÷ÉÏ´ò¿ªËü?'))window.location='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003912'" tppabs="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003912" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../www.ruili.net/images/batb.png" tppabs="http://www.ruili.net/images/batb.png" style="float:left;">æ²ªå…¬ç½‘å®‰å¤‡31011302003912å·</a></p>
            <p>ç”µè¯ï¼š 021-57727777 ä¼ çœŸï¼š021-61805576 é‚®æ”¿ç¼–ç :200444</p>
            <p>åœ°å€:ä¸­å›½ä¸Šæµ·å¸‚æ²ªå¤ªè·¯3100å·å°šå¤§å›½é™…Dåº§413å®¤</p>
        </div>
    </div>
</div>





<script language="javascript" src="../templets/ysg/js/swt2.js" tppabs="http://www.ysg.cn/templets/ysg/js/swt2.js"></script> 

<div style="display:none;"><script src="../../s11.cnzz.com/z_stat.php-id=1255392733&web_id=1255392733" tppabs="http://s11.cnzz.com/z_stat.php?id=1255392733&web_id=1255392733" language="JavaScript"></script>




<script type="text/javascript">
    var reg11 = "http://www.ysg.cn/lianxi/ysg1717.cn";
  var reg22 = "http://www.ysg.cn/lianxi/ysg1717.com";
  var reg33 = "http://www.ysg.cn/lianxi/xxspjm.net";
  var reg44 = "http://www.ysg.cn/lianxi/spdjm.net";
  var reg55 = "http://www.ysg.cn/lianxi/lingshijm.net";
  var reg66 = "http://www.ysg.cn/lianxi/ysg1717.net";
  var reg77 = "http://www.ysg.cn/lianxi/ysg.cn";
  var url2 = window.location.href;
  
  if(url2.indexOf(reg11)> 0){
    var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-9f64f6900d5b2e3d99095144779eaa07"/*tpa=https://hm.baidu.com/hm.js?9f64f6900d5b2e3d99095144779eaa07*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


  }else if(url2.indexOf(reg22)> 0){
        var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-e89af5c90e6cd31c2daa6db1c21ca7b3"/*tpa=https://hm.baidu.com/hm.js?e89af5c90e6cd31c2daa6db1c21ca7b3*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

  }else if(url2.indexOf(reg33)> 0){
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-1ac3cfe40a58e8e4cb9781c24053993d"/*tpa=https://hm.baidu.com/hm.js?1ac3cfe40a58e8e4cb9781c24053993d*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

  }else if(url2.indexOf(reg44)> 0){
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-429acc3464a6994af9385a4dd68d0e6d"/*tpa=https://hm.baidu.com/hm.js?429acc3464a6994af9385a4dd68d0e6d*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

  }else if(url2.indexOf(reg55)> 0){
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-02a4e2b87a47cca2927c2b7525db4543"/*tpa=https://hm.baidu.com/hm.js?02a4e2b87a47cca2927c2b7525db4543*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


  }else if(url2.indexOf(reg66)> 0){
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm.js-c8c926d8f5c55a1587bc4717a7e586d5"/*tpa=https://hm.baidu.com/hm.js?c8c926d8f5c55a1587bc4717a7e586d5*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


  }else if(url2.indexOf(reg77)> 0){
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
    hm.src = "../../hm.baidu.com/hm.js-f1398dd565ebc9f64aac357d2f4f8c8b"/*tpa=https://hm.baidu.com/hm.js?f1398dd565ebc9f64aac357d2f4f8c8b*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


  } 

</script>

</div>
<script language="javascript" src="../../swt.ysg.cn/JS/LsJS.aspx-siteid=KMM23720509&float=1&lng=cn" tppabs="http://swt.ysg.cn/JS/LsJS.aspx?siteid=KMM23720509&float=1&lng=cn"></script>
</body>
</html>
