
<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
      <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
      
      </a> 
</div>
<!--位置 Start-->



<!--位置 End-->

<!--全品类覆盖——13+1大类、50个系列、1000多款畅销单品 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/yxys1.png" alt="全品类覆盖——13+1大类、50个系列、1000多款畅销单品"/></div>
    <div class="qcpfg">
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qcpfg_01.jpg" alt="精选原料多国采购,不出国门吃遍世界"/>
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qcpfg_02.jpg" alt="精选原料多国采购,不出国门吃遍世界"/>
    	<img src="http://www.ysg.cn/templets/ysg/style/images/about-news/qcpfg_03.jpg" alt="精选原料多国采购,不出国门吃遍世界"/>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--全品类覆盖——13+1大类、50个系列、1000多款畅销单品 End-->

<!--产品领“鲜”市场，新锐口感常卖常新 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/yxys2.png" alt="产品领“鲜”市场，新锐口感常卖常新"/></div>
    <div class="cpsc">
    	<dl>
        	<dt>一扫光拥有强大的品控团队，掌握上千复杂工艺流程，不断推出新品及口味，确保产品独特的风味及优良的商品品质，决胜终端市场。</dt>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp1.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp2.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp3.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp4.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp5.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp6.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp7.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
            <dd><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xcp8.jpg" alt="产品领“鲜”市场，新锐口感常卖常新"/></dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--产品领“鲜”市场，新锐口感常卖常新 End-->


<!--定制全国口感坐标，众口不再难调 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/yxys3.png" alt="定制全国口感坐标，众口不再难调"/></div>
    <div class="cpsc">
    	<div class="ppys">
        	<p>一扫光团队花费数年时间，在对数十万消费者潜心调研的基础上建立了“全国口感坐标”，根据每一地区不同口味提出进货建议和实时销售分析，实现货品的无忧配置。</p>
            <div><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/cpzb_01.jpg" alt="定制全国口感坐标，众口不再难调"/><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/cpzb_02.jpg" alt="定制全国口感坐标，众口不再难调"/><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/cpzb_03.jpg" alt="定制全国口感坐标，众口不再难调"/><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/cpzb_04.jpg" alt="定制全国口感坐标，众口不再难调"/></div>
        </div>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--定制全国口感坐标，众口不再难调 End-->
<!--ERP系统化管理 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/yxys4.png" alt="ERP系统化管理"/></div>
    <div class="xthgl">
    	
        	<p>一扫光总部采用行业领先的ERP管理系统，其销售联网功能可对门店的数据、金额、客户服务等方面做出全面分析，真正实现整体营销的管理，助力于店铺业绩的有效增长。</p>
           <ul class="">
           		<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xthwh1.jpg" alt="ERP系统化管理"/></li>
           		<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xthwh2.jpg" alt="ERP系统化管理"/></li>
           		<li><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xthwh3.jpg" alt="ERP系统化管理"/></li>
           </ul>
    
    
    </div>
	<div class="clear"></div>
</div>
<!--ERP系统化管理 End-->

<!--线上+线下互动营销 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/yxys5.png" alt="线上+线下互动营销"/></div>
    <div class="hdyx-l left"><strong>【线上】</strong>
    <p>→ 一扫光移动管家APP<br />
→ 热点营销<br />
→ 企事业单位团购业务<br />
→ 借助美团等外卖平台发展外送业务<br />
→ 开通微信、微店等，将微信粉丝、朋友圈转化为消费顾客</p></div>
    <div class="hdyx-r right"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xs1.jpg" alt="线上"/></div>
    <div class="clear hdyx-xian"></div>
        
    <div class="hdyx-r left" style="margin:0 0 20px 15px;"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/xs2.jpg" alt="线上"/></div>
    <div class="hdyx-l right"><strong>【线下】</strong>
    <p>→ 开业庆典，让生意一炮大打响<br />
→ 借势节假日，进行主题促销<br />
→ 推广新品上市，培育新消费群<br />
→ VIP会员卡营销，预收资金<br />
→ 积分营销，维系老客户群</p></div>

	<div class="clear"></div>
</div>
<!--线上+线下互动营销 End-->