<link href="http://www.ysg.cn/templets/ysg/style/css/css.css" rel="stylesheet" type="text/css" />
<link href="http://www.ysg.cn/templets/ysg/style/css/about-news.css" rel="stylesheet" type="text/css" />

<!--关于我们 Start-->
<div class="a-banner">
	<a href="javascript:void(0)">
      <img src="http://7j1y9l.com1.z0.glb.clouddn.com/image/jbhyswjk_5etxom2coz485a3d0b98ade99.png" style="width: 1038px; height: 458px;">  
      </a> 
</div>
<!--位置 Start-->



<!--位置 End-->

<!--选对行业 选准品牌  一扫光零食量贩为您提供创富平台 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ys1.png" alt="选对行业 选准品牌  一扫光零食量贩为您提供创富平台"/></div>
    <div class="hyys-pt">
    	<dl>
        	<dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ys-pic1.jpg" alt="选对行业 选准品牌  一扫光零食量贩为您提供创富平台"/></dt>
            <dd>
            	<p>当下，休闲食品行业已经迎来了黄金时代。小成本创业，零经验开店，已成为资本追逐的新宠；无数事实已经证明，每当新机会来临，无一例外都是捷足先登者胜！</p>
                <span><a href="javascript:void(0)" onclick="online()" target="_blank"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sqjm.jpg" alt="申请加盟"/></a></span>
            </dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--选对行业 选准品牌  一扫光零食量贩为您提供创富平台 End-->

<!--休闲零食行业分析——民以食为天，永不饱和的市场 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ys2.png" alt="休闲零食行业分析——民以食为天，永不饱和的市场"/></div>
    <div class="fenxi">
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/fx1.jpg" alt="休闲零食的前景"/></dt>
            <dd><strong>休闲零食的前景</strong>
            	<p>2015年我国休闲食品制造业创造工业产值4530.5亿元，销售收入达4630亿元，实现利润150.7亿元，未来五年，该行业将迎来高速发展期。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/fx2.jpg" alt="零星消费成就大事业"/></dt>
            <dd><strong>零星消费成就大事业</strong>
            	<p>消费者每次进店消费几十元，每个人都消费的起，无论上学放学，还是上下班，走过路过的零星消费，消费频次之高是其他行业无法比拟的。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/fx3.jpg" alt="现金交易无欠款"/></dt>
            <dd><strong>现金交易无欠款</strong>
            	<p>与其他行业不同的是零食单店在运营过程中不存在所谓的拖欠现象，同时基本上是现金交易，保证了交易以后营业收入的稳定性和及时性。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/fx4.jpg" alt="操作简单好经营"/></dt>
            <dd><strong>操作简单好经营</strong>
            	<p>零食店的经营不需要店主掌握专业技术和能力，即所谓的“傻瓜式”经营，加盟后只需要接受公司总部提供的运营培训即可，简单方便。</p>
            </dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>
<!--休闲零食行业分析——民以食为天，永不饱和的市场 End-->

<!--一扫光零食量贩4大行业优势 Start-->
<div class="box9">
	<div class="ny-title"><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/ys3.png" alt="一扫光零食量贩4大行业优势"/></div>
    <div class="fenxi">
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sdys1.jpg" alt="门槛低"/></dt>
            <dd><strong>门槛低</strong>
            	<p>前期投资几万元，10㎡门店大小即可开店，无需专业技能，门槛低操作简单。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sdys2.jpg" alt="回本快"/></dt>
            <dd><strong>回本快</strong>
            	<p>一扫光零食店毛利高，通过会员制营销、预充值消费、团购等方式，能迅速回本。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sdys3.jpg" alt="高利润"/></dt>
            <dd><strong>高利润</strong>
            	<p>休闲食品行业平均利润在40%左右，一扫光远超行业平均水准利润高达六成。</p>
            </dd>
        </dl>
    	<dl>
       	  <dt><img src="http://www.ysg.cn/templets/ysg/style/images/about-news/sdys4.jpg" alt="无淡季"/></dt>
            <dd><strong>无淡季</strong>
            	<p>鉴于消费者即买即食随心所欲的购买特征，一扫光零食专卖店全年售卖机会大。</p>
            </dd>
        </dl>
    </div>
    
    
	<div class="clear"></div>
</div>