
<div class="footer_nav">
    <div class="box">
        <a href="index.htm" title="一扫光休闲食品加盟">网站首页</a>
        <a href="guanyuwomen/index.htm"  title="关于我们">关于我们</a>
        <a href="products/index.htm"  title="产品展示">产品展示</a>
        <a href="lianxi/index.htm"  title="联系方式">联系方式</a>
        <a href="map/index.htm"  title="网站地图">网站地图</a>
    </div>
</div>
<div class="footer">
    <div class="box">
        <div class="clearfix">
            <div class="footer_logo"><img src="templets/ysg/images/footer_logo.png" class="png" /></div>
            <div class="footer_dh">
                <span><img src="templets/ysg/images/footer_dh.png" width="229" height="49" class="png" /></span>
            </div>
            <div class="footer_wx">
                <img src="templets/ysg/images/footer_wx.png" width="101" height="101" class="png" />
                <p>手机轻松扫一扫<br />关注一扫光二维码<br />惊喜乐不停</p>
            </div>
        </div>
        <div class="footer_wz">
            <p>上海卡哇伊实业有限公司 版权所有 2006-2017 <a href="" style="color:#B25900" rel='nofollow'>沪ICP备15007550号</a> </p>
            <p><a href="" style="color:#B25900" rel='nofollow'>沪ICP备15007550号</a> <a target="_blank" href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../www.ruili.net/images/batb.png" style="float:left;">沪公网安备31011302003912号</a></p>
            <p>电话： 021-57727777 传真：021-61805576 邮政编码:200444</p>
            <p>地址:中国上海市沪太路3100号尚大国际D座413室</p>
        </div>
    </div>
</div>
<script language="javascript" src="templets/ysg/js/swt2.js"></script>
<div style="display:none;"><script src="../s11.cnzz.com/z_stat.php-id=1255392733&web_id=1255392733" language="JavaScript"></script>

    <script type="text/javascript">
        var reg11 = "http://www.ysg.cn/ysg1717.cn";
        var reg22 = "http://www.ysg.cn/ysg1717.com";
        var reg33 = "http://www.ysg.cn/xxspjm.net";
        var reg44 = "http://www.ysg.cn/spdjm.net";
        var reg55 = "http://www.ysg.cn/lingshijm.net";
        var reg66 = "http://www.ysg.cn/ysg1717.net";
        var reg77 = "http://www.ysg.cn/ysg.cn";
        var url2 = window.location.href;

        if(url2.indexOf(reg11)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-9f64f6900d5b2e3d99095144779eaa07"/*tpa=https://hm.baidu.com/hm.js?9f64f6900d5b2e3d99095144779eaa07*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg22)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-e89af5c90e6cd31c2daa6db1c21ca7b3"/*tpa=https://hm.baidu.com/hm.js?e89af5c90e6cd31c2daa6db1c21ca7b3*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg33)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-1ac3cfe40a58e8e4cb9781c24053993d"/*tpa=https://hm.baidu.com/hm.js?1ac3cfe40a58e8e4cb9781c24053993d*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg44)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-429acc3464a6994af9385a4dd68d0e6d"/*tpa=https://hm.baidu.com/hm.js?429acc3464a6994af9385a4dd68d0e6d*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg55)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-02a4e2b87a47cca2927c2b7525db4543"/*tpa=https://hm.baidu.com/hm.js?02a4e2b87a47cca2927c2b7525db4543*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg66)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-c8c926d8f5c55a1587bc4717a7e586d5"/*tpa=https://hm.baidu.com/hm.js?c8c926d8f5c55a1587bc4717a7e586d5*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg77)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-f1398dd565ebc9f64aac357d2f4f8c8b"/*tpa=https://hm.baidu.com/hm.js?f1398dd565ebc9f64aac357d2f4f8c8b*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }

    </script>

</div>
<script language="javascript" src="../swt.ysg.cn/JS/LsJS.aspx-siteid=KMM23720509&float=1&lng=cn"></script>
</div>
</body>
</html>