<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$config.title}</title>
    <meta name="description" content="{$config.description}" />
    <meta name="keywords" content="{$config.keyword}" />
    <link href="__STATIC__/css/css-new.css" rel="stylesheet" type="text/css" />

    <!--<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>-->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/index.js"></script>
    <meta name="mobile-agent" content="format=html5; url=http://m.ysg.com/">
    <script src="__STATIC__/js/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">uaredirect("http://m.ysg.com/");</script>
    <!--[if lte IE 6]>

    <script type="text/javascript" src="__STATIC__/js/DD_belatedPNG_0.0.7a.js"></script>

    <script>
        DD_belatedPNG.fix('.png,.png img,.flex-control-nav a');
    </script>

    <![endif]-->
</head>

<body>
<div class="top_60" onclick="online()" style="display: none"></div>
<div class="header" style="background: url({$config.top_image}) no-repeat center top #FEC536;">
    <div class="box1">
        <div class="header_l png">
            <div class="logo"><a href="/"><img src="{$config.logo}" alt="{$config.title}"/></a></div>
            <div class="h_sc"><a href="javascript:void(0)" onclick="javascript:AddFavorite(window.location, document.title)">收藏一扫光</a></div>
        </div>
        <div class="h_wz"><img src="{$config.slogan}" class="png" width="133" height="58" /></div>

        <div class="h_dianhua" style="background: url({$config.mobile_image}) no-repeat;">7x24H免费热线：{$config.mobile}</div>
        <div class="tonghua"><a href="javascript:void(0)" onclick="online()">免费通话</a></div>
    </div>
</div>

<div class="menu">
    <div class="box1">
        <ul>
            <li><a href="/">首页</a></li>
            {foreach $topMenus as $menu}
            <li class='menus' >
                <a href="{:url($menu['pinyin'])}">{$menu.name}</a>
                <div class="menu_xl xl1">
                    <div class="box1">
                        {if condition = "isset( $menu['child'])"}
                        <ul>
                            {foreach $menu['child'] as $item}
                            <li><a href="{:url($item['pinyin'])}">{$item.name}</a></li>
                            {/foreach}
                        </ul>
                        {/if}
                    </div>
                </div>
            </li>
            {/foreach}
        </ul>
    </div>
</div>

<!--<meta name="baidu-site-verification" content="wgHyfKiamh" />-->
{block name="content"}{/block}

<div class="footer_nav">
    <div class="box">
        <a href="/" title="{$config.title}">网站首页</a>
        {foreach $bottomMenus as $menu}
        <a href="{$menu.pinyin}"  title="{$menu.name}">{$menu.name}</a>
        {/foreach}
    </div>
</div>

<div class="footer">
    <div class="box">
        <div class="clearfix">
            <div class="footer_logo"><img src="{$config.footer_logo}" class="png" /></div>
            <div class="footer_dh">
                <span><img src="{$config.footer_mobile}" width="229" height="49" class="png" /></span>
            </div>
            <div class="footer_wx">
                <img src="{$config.qrcode}" width="101" height="101" class="png" />
                <p>手机轻松扫一扫<br />关注一扫光二维码<br />惊喜乐不停</p>
            </div>
        </div>
        <div class="footer_wz">
            <p>{$config.company} 版权所有 2006-2018 <a href="" style="color:#B25900" rel='nofollow'>{$config.icp}</a> </p>
            <p style="display: none"><a href="" style="color:#B25900" rel='nofollow'>{$config.icp}</a> <a target="_blank" href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;">沪公网安备31011302003912号</a></p>
            <p>电话： {$config.mobile}  邮政编码:{$config.postal}</p>
            <p>地址:{$config.address}</p>
        </div>
    </div>
</div>
<!--<script language="javascript" src="templets/ysg/js/swt2.js"></script>-->
<!--<div style="display:none;"><script src="../s11.cnzz.com/z_stat.php-id=1255392733&web_id=1255392733" language="JavaScript"></script>-->

<!--    <script type="text/javascript">
        var reg11 = "http://www.ysg.cn/ysg1717.cn";
        var reg22 = "http://www.ysg.cn/ysg1717.com";
        var reg33 = "http://www.ysg.cn/xxspjm.net";
        var reg44 = "http://www.ysg.cn/spdjm.net";
        var reg55 = "http://www.ysg.cn/lingshijm.net";
        var reg66 = "http://www.ysg.cn/ysg1717.net";
        var reg77 = "http://www.ysg.cn/ysg.cn";
        var url2 = window.location.href;

        if(url2.indexOf(reg11)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-9f64f6900d5b2e3d99095144779eaa07"/*tpa=https://hm.baidu.com/hm.js?9f64f6900d5b2e3d99095144779eaa07*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg22)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-e89af5c90e6cd31c2daa6db1c21ca7b3"/*tpa=https://hm.baidu.com/hm.js?e89af5c90e6cd31c2daa6db1c21ca7b3*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg33)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-1ac3cfe40a58e8e4cb9781c24053993d"/*tpa=https://hm.baidu.com/hm.js?1ac3cfe40a58e8e4cb9781c24053993d*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg44)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-429acc3464a6994af9385a4dd68d0e6d"/*tpa=https://hm.baidu.com/hm.js?429acc3464a6994af9385a4dd68d0e6d*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg55)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-02a4e2b87a47cca2927c2b7525db4543"/*tpa=https://hm.baidu.com/hm.js?02a4e2b87a47cca2927c2b7525db4543*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg66)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-c8c926d8f5c55a1587bc4717a7e586d5"/*tpa=https://hm.baidu.com/hm.js?c8c926d8f5c55a1587bc4717a7e586d5*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

        }else if(url2.indexOf(reg77)> 0){
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "../hm.baidu.com/hm.js-f1398dd565ebc9f64aac357d2f4f8c8b"/*tpa=https://hm.baidu.com/hm.js?f1398dd565ebc9f64aac357d2f4f8c8b*/;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }
    </script>-->
</div>
<!--<script language="javascript" src="../swt.ysg.cn/JS/LsJS.aspx-siteid=KMM23720509&float=1&lng=cn"></script>-->
</div>
</body>
</html>
