<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$config.title}</title>
    <meta name="description" content="{$config.description}" />
    <meta name="keywords" content="{$config.keyword}" />
    <link href="__STATIC__/css/css-new.css" rel="stylesheet" type="text/css" />

    <!--<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>-->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/index.js"></script>
    <meta name="mobile-agent" content="format=html5; url=http://{$Think.config.mobile_domain}/">
    <script src="__STATIC__/js/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">uaredirect("http://{$Think.config.mobile_domain}/");</script>
    <!--<script src="__STATIC__/js/swt-new.js" type="text/javascript"></script>-->

    <!--[if lte IE 6]>

    <script type="text/javascript" src="__STATIC__/js/DD_belatedPNG_0.0.7a.js"></script>

    <script>
        DD_belatedPNG.fix('.png,.png img,.flex-control-nav a');
    </script>

    <![endif]-->
</head>

<body>
<div class="top_606" onclick="online()" style="display: none"></div>
<div class="header" style="background: url({$config.top_image}) no-repeat center top #FEC536;">
    <div class="box1">
        <div class="header_l png">
            <div class="logo"><a href="/"><img src="{$config.logo}" alt="{$config.title}"/></a></div>
            <div class="h_sc"><a href="javascript:void(0)" onclick="javascript:AddFavorite(window.location, document.title)">收藏一扫光</a></div>
        </div>
        <div class="h_wz"><img src="{$config.slogan}" class="png" width="133" height="58" /></div>

        <div class="h_dianhua" style="background: url({$config.mobile_image}) no-repeat;">7x24H免费热线：{$config.mobile}</div>
        <div class="tonghua"><a href="javascript:void(0)" onclick="online()">免费通话</a></div>
    </div>
</div>

<div class="menu">
    <div class="box1">
        <ul>
            <li><a href="/">首页</a></li>
            {foreach $topMenus as $menu}
            <li class='menus' >
                <a href="{:url($menu['pinyin'])}">{$menu.name}</a>
                <div class="menu_xl xl1">
                    <div class="box1">
                        {if condition = "isset( $menu['child'])"}
                        <ul>
                            {foreach $menu['child'] as $item}
                            <li><a href="{:url($item['pinyin'])}">{$item.name}</a></li>
                            {/foreach}
                        </ul>
                        {/if}
                    </div>
                </div>
            </li>
            {/foreach}
        </ul>
    </div>
</div>

<!--<meta name="baidu-site-verification" content="wgHyfKiamh" />-->
{block name="content"}{/block}

<div class="footer_nav">
    <div class="box">
        <a href="/" title="{$config.title}">网站首页</a>
        {foreach $bottomMenus as $menu}
        <a href="{:url('index/index/' . $menu['pinyin'])}"  title="{$menu.name}">{$menu.name}</a>
        {/foreach}
    </div>
</div>

<div class="footer">
    <div class="box">
        <div class="clearfix">
            <div class="footer_logo"><img src="{$config.footer_logo}" class="png" /></div>
            <div class="footer_dh">
                <span><img src="{$config.footer_mobile}" width="229" height="49" class="png" /></span>
            </div>
            <div class="footer_wx">
                <img src="{$config.qrcode}" width="101" height="101" class="png" />
                <p>手机轻松扫一扫<br />关注一扫光二维码<br />惊喜乐不停</p>
            </div>
        </div>
        <div class="footer_wz">
            <p>{$config.company} 版权所有 2006-2018 <a href="" style="color:#B25900" rel='nofollow'>{$config.icp}</a> </p>
            <p style="display: none"><a href="" style="color:#B25900" rel='nofollow'>{$config.icp}</a> <a target="_blank" href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;">沪公网安备31011302003912号</a></p>
            <p>电话： {$config.mobile}  邮政编码:{$config.postal}</p>
            <p>地址:{$config.address}</p>
        </div>
    </div>
</div>

<div id="k_s_ol_inviteWin" class="ks_ol_comm_div" style="display: block; width: auto; z-index: 2147483647; left: 50%; margin-left: -150px; top: 50%; margin-top: -150px; visibility: visible; font-family: &quot;Microsoft YaHei&quot;; line-height: 22px; position: fixed !important;">
    <div id="k_s_ol_inviteWin_fl">
        <div style="width:300px; height:300px; background:url(http://www.ganxi.cn/js/boxbj.png) top center no-repeat; background-size:300px auto;" align="center">
            <div align="right">
                <div style="height:40px; width:40px; cursor:pointer;" onclick="closed()"></div>
            </div>
            <div style="padding-top:20px; text-align:center; font-size:14px; color:#444444;">
                <p>在线咨询一扫光零食量贩</p>
                <p>一对一专属服务</p>
            </div>
            <div style="padding-top:5px; padding-left:20px; line-height:32px; padding-right:20px; text-align:center; font-size:16px; font-weight:bold; color:#f4751e;">品牌优势&nbsp;&nbsp;加盟费用&nbsp;&nbsp;近期优惠</div>
            <form  method="post">
                <div style="padding-top:10px;" align="center">
                    <div align="center">
                        <input id="content2" name="content" value="请快速免费回电!" type="hidden">
                        <input name="username" class="bjname" id="nb_nodeboard_set_name" value="" placeholder="姓名" style="font-family: Microsoft YaHei; font-size:14px; background:#ffffff; color:#555555; text-indent:10px;width:200px; height:32px; border:1px solid #9a9a9a; line-height:32px; border-radius:4px; outline:none; margin-bottom:5px;">
                        <input name="iphone" type="text" id="nb_nodeboard_set_phone" style="font-family: Microsoft YaHei; font-size:14px; background:#ffffff; color:#555555; text-indent:10px;width:200px; height:32px; border:1px solid #9a9a9a; line-height:32px; border-radius:4px; outline:none;" value="" placeholder="手机">
                        <textarea name="bd_bp_messText" style="display:none;">请快速免费回电！</textarea>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="padding-top:10px; font-size:12px; color:red;display:none;" align="center" id="xs">我们将立即回电。该通话对您免费，请放心接听！</div>
                <div style="padding-top:10px; padding-left:50px; padding-right:50px;" align="center">
                    <button type="submit" name="B1"  style="float:left; width:90px; line-height:30px; height:30px; text-align:center; font-size:14px; color:#FFFFFF; border-radius:3px; background:#00c897; border:none; cursor:pointer;" id="nb_nodeboard_send">提交留言</button>
                    <a href="javascript:void(0);" >
                        <div style="float:right; width:90px; line-height:30px; text-align:center; font-size:14px; color:#FFFFFF; border-radius:3px;  background:#fea525;">在线咨询</div>
                    </a>
                    <div style="clear:both;"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    window.setInterval(function () {
        var center = document.getElementById("k_s_ol_inviteWin");
        if (center) {
            center.style.display='block'
        }
        //console.log(new Date());
    }, 20000);

    function closed(){
        document.getElementById('k_s_ol_inviteWin').style.display='none'
    }

    $(function () {
        var submit = false;
        $('body').on( 'click', '#nb_nodeboard_send', function (event) {
            event.preventDefault();

            var sx = $("#xs");
            var name = document.getElementById("nb_nodeboard_set_name").value;
            var phone = document.getElementById("nb_nodeboard_set_phone").value;

            if (name.length < 1){
                sx.text('请输入您的姓名').show();
                return false;
            }
            if (phone.length < 1) {
                sx.text('请输入您的手机号').show();
                return false;
            }

            if(!(/^1[3-9]\d{9}$/.test(phone))){
                sx.text('请输入正确的手机号码').show();
                return false;
            }
            submit = true;
            if (! submit) return false;

            $.ajax({
                type: 'post',
                data: {username: name, telephone: phone, content: '我们将立即回电。该通话对您免费，请放心接听！'},
                url: "{:url('/index/index/message')}",
                dataType: 'json',
                success: function (retdat) {
                    if (retdat.code == 200) {
                        sx.text('我们将立即回电。该通话对您免费，请放心接听！').show();
                        setTimeout(function () {
                            $('#k_s_ol_inviteWin').remove();
                        }, 1000);

                    }
                    submit = true;
                },
                error: function () {
                    submit = true;
                }
            })
        })
    })
</script>
</body>
</html>
