{extend name="template/header" /}
{block name="content"}
<link href="__STATIC__/css/news.css" rel="stylesheet" type="text/css" />
<div class="weizhi" style="margin-top:30px">当前位置：<a href="/">主页</a> > <a href="#">成功案例</a> > <a href="#">加盟商风采</a> > </div>
 
<!--微信会员活动专区 Start-->
<div class="box" style="background-color:#fff;">
	<div class="content_bt">
        <h1>{$style['title']}</h1>
        <div class="content_ly">时间：{$style.create_time|date='Y-m-d H:i',###}| 来源：{$style.author} </div>
    </div>
    <div class="clearfix content2">
        {$style.content|htmlspecialchars_decode}
    </div>


<div class="shangxiapian">
    <span class="right">下一篇：{if condition="$next != ''"}<a href="{:url('index/fengcaiDetail', ['id'=>$next['id']])}">{$next.title}</a> {else /} 没有了 {/if} </span>
    <span>上一篇：{if condition="$prev != ''"}<a href="{:url('index/fengcaiDetail', ['id'=>$prev['id']])}">{$prev.title}</a> {else /} 没有了 {/if} </span>
</div>

<div class="xg_news">
	<div class="title"><strong>相关阅读</strong></div>
    <ul class="clearfix">
        {foreach $relations as $item}
    	<li><em>{$item.create_time|date='Y-m-d', ###}</em><a href="{:url('index/fengcaiDetail', ['id'=>$item['id']])}">{$item.title}</a></li>
        {/foreach}
    </ul>
</div>
</div>
{/block}