{extend name="template/header" /}
{block name="content"}
<link href="__STATIC__/css/index-news.css" rel="stylesheet" type="text/css" />
<!-- 幻灯片 Start -->
<div style="z-index:-9; height:auto; overflow:hidden;">
	<div class="flexslider">
        <ul class="slides">
            {foreach $banners as $item}
            <li>
                <a href="javascript:void(0)" onclick="online()" target="_blank">
                    <div style="background:url({$item.image}) no-repeat center top; height:580px;">
                        <div class="box"></div>
                    </div>
                  </a> 
            </li>
            {/foreach}
        </ul>
    </div>
</div>
<script src="https://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>
<script src="__STATIC__/js/jquery.flexslider-min.js"></script>
<script>

$(function(){

	$('.flexslider').flexslider({

		directionNav: true,

		pauseOnAction: false
	});
});

</script> 
<!-- 幻灯片 End --> 

</div>

{if condition="count($menus) > 0 "}
<div class="box4 quick_nav m25">
	<ul>
        {foreach $menus as $item}
		<li>
			<div class="img_show"><a href="{:url('index/index/' . $item['pinyin'])}" target="_blank"><img src="{$item.image}" alt=""></a></div>
			<div class="tit"><a href="{:url('index/index/' . $item['pinyin'])}" target="_blank"><i class="icon1" style="width: 30px;height: 30px;margin-right: 5px;display: inline-block;background: url({$item.icon}) no-repeat;vertical-align: text-bottom;"></i>{$item.name}</a></div>
		</li>
        {/foreach}

	</ul>
</div>
{/if}

{if condition="isset($videos[0])"}
<div class="box clearfix m25">
<!--媒体报道-->
	<div class="in_news1 left">
		<h2 class="title"><strong><a href="{:url('index/index/qiyexinwen')}" target="_blank">媒体报道</a></strong><a href="{:url('index/index/qiyexinwen')}" class="more" target="_blank">更多+</a></h2>
        <div class="shipin">
            <video src="{$videos[0]['url']}" width="285" height="220"  controls autobuffer></video>
        <!--<embed src="../player.letvcdn.com/lc07_p/201706/08/09/43/0945/newplayer/bcloud.swf-" allowfullscreen="true" quality="high" align="middle" allowscriptaccess="always" width="285" height="190" wmode="transparent" flashvars="uu=29def2a1d5&vu=7bc43c750d&auto_play=0&gpcflag=1&width=640&height=360&lang=zh_CN" type="application/x-shockwave-flash"></embed>-->
    </div>
	<p class="in_news1-bt">{$videos[0]['title']}</p>
</div>
{/if}
        
<!--最新活动-->
    {if condition="count($news) > 0"}
	<div class="in_news1 in_news left">
		<h2 class="title"><strong><a href="{:url('index/index/qiyexinwen')}" target="_blank">最新活动</a></strong><a href="{:url('index/index/qiyexinwen')}" class="more" target="_blank">更多+</a></h2>
		<dl>
            <dt><a href="{:url('index/index/detail', ['id'=>$news[0]['id']])}">
                <img src="{$news[0]['image']}" alt="{$news[0]['title']}" title="{$news[0]['title']}" width="70px" height="70px"></a></dt>
            <dd> <strong><a href="{:url('index/index/detail', ['id'=>$news[0]['id']])}" title="{$news[0]['title']}" target="_blank">{$news[0]['title']||mb_substr=###,0,17,'utf-8'}</a></strong>
                <p>{$news[0]['content']|htmlspecialchars_decode|strip_tags|mb_substr=###,0,43,'utf-8'}...<a href="{:url('index/index/detail', ['id'=>$news[0]['id']])}" title="{$news[0]['title']}" target="_blank">详情>></a></p>
            </dd>
		</dl>
        {if condition="count($news) > 1"}
		<ul>
            {foreach $news as $key => $item}
            {if condition="$key > 0"}
            <li>
                <em>{$item.create_time|date="Y-m-d", ###}</em><a href="{:url('index/index/detail',['id'=>$item['id']])}" title="{$item.title}" target="_blank">{$item.title}</a>
            </li>
            {/if}
            {/foreach}
        </ul>
        {/if}
	</div>
       {/if}

  <!--一扫光企业形象宣传片-->
    {if condition="isset($videos[1])"}
<div class="in_news1 right" style="margin-right:0;">
	<h2 class="title"><strong><a href="javascript:void(0);" target="_blank">一扫光企业形象宣传片</a></strong></h2>
    <div class="shipin1">
        <video src="{$videos[1]['url']}" width="285" height="220"  controls autobuffer></video>
        <!--<embed src="../player.letvcdn.com/lc07_p/201706/08/09/43/0945/newplayer/bcloud.swf-" allowfullscreen="true" quality="high" align="middle" allowscriptaccess="always" width="285" height="220" wmode="transparent" flashvars="uu=29def2a1d5&vu=bb417f2c59&auto_play=1&gpcflag=1&width=267&height=170&lang=zh_CN" type="application/x-shockwave-flash"></embed>-->
    </div>
    </div>
</div>
{/if}

<!--加盟方案-->
<div class="box4 m25">
	<div class="common_hd">
		<div class="tit"><img src="__STATIC__/images/index/jmfa.png" alt="加盟方案"></div>
		<!--<div class="info">超强实力认证  引领行业高度</div>-->
		<div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
	</div>
    {foreach $plans as $plan}
    <div class="programme">
    	<dl>
        	<dt><a href="todo"><img src="{$plan.image}" alt="{$plan.title}方案"></a></dt>
            <dd>
            	<strong><a href="fangan/two/index.htm">{$plan.title}方案</a></strong>
                <span><i>加盟资金：</i><em>{$plan.amount}</em></span>
                <span>投资优势：{$plan.advantage}</span>
                <span><i>投资热度：</i><div class="xing4 png">{$plan.hot|str_repeat='★', ###}</div></span>
                <a href="javascript:void(0)" onclick="online()" class="btn1 png" target="_blank">在线咨询</a>
                <a href="javascript:void(0)" onclick="online()" class="btn2 png" target="_blank">申请加盟</a>
            </dd>
        </dl>
    </div>
    {/foreach}
</div>

<!--公司实力-->
{if condition="count($strength) > 0"}
<div class="box4 m25">
    <a href="todo">
	    <div class="common_hd">
		    <div class="tit"><img src="__STATIC__/images/index/gssl.png" alt="公司实力"></div>
		    <div class="info">{$index.strength_title}</div>
		    <div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
	    </div>
    </a>
    <div class="index_jm" style="width: 980px;height: auto;overflow: hidden;background: url({$index.strength_logo})bottom left no-repeat;padding-bottom: 78px;">
        <div class="index_jm_tab">
            <ul>
                {foreach $strength as $item}
                    <li class=""><a href="#" target="_blank">{$item.title}</a></li>
                {/foreach}
             </ul>
        </div>

        <div class="index_jm_cont">
            {foreach $strength as $str}
                <div class="index_jm_list">
                    <ul>
                        {foreach $strengthImages[$str['id']] as $image}
                        <li><img src="{$image}" alt=""></li>
                        {/foreach}
                  </ul>
                </div>
            {/foreach}
      </div>
    </div>
    <script>

    //首页排行榜
    $('.index_jm_cont .index_jm_list').eq(0).show().siblings().hide();
    $('.index_jm_tab > ul >li').first().addClass('on');
    $('.index_jm_tab').each(function(){
        $('.index_jm_tab > ul >li').hover(function(){
            $(this).addClass('on').siblings().removeClass('on');
            $('.index_jm_cont .index_jm_list').eq($(this).index()).show().siblings().hide();
        }).eq(0).hover();
    });


    </script>
</div>
{/if}

<!--公司文化-->
{if condition = "count($culture) > 0" }
<div class="box4 m25">
    <a href="todo">
	<div class="common_hd">
		<div class="tit"><img src="__STATIC__/images/index/gswh.png" alt="公司文化"></div>
		<div class="info">{$index.culture_title}</div>
		<div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
	</div>
    </a>
    <div class="gswh">
    	<ul>
            {foreach $culture as $item}
        	<li><img src="{$item.image}" alt="助力公益，时刻践行企业对社会的责任"></li>
            {/foreach}
        </ul>
    </div>
</div>
{/if}

<!--强势品牌-->
{if condition = "count($brandImages) > 0" }
<div class="box4 m25">
    <a href="todo">
    	<div class="common_hd">
    		<div class="tit"><img src="__STATIC__/images/index/qspp.png" alt="强势品牌"></div>
    		<div class="info">{$index.brand_title}</div>
    		<div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
    	</div>
    </a> 
    <div class="qspp">
        {foreach $brands as $brand}
    	<dl>
        	<dt>{$brand.title}</dt>
            {foreach $brandImages[$brand.id] as $image}
                <dd><img src="{$image}" alt="{$brand.title}"></dd>
            {/foreach}
        </dl>
        {/foreach}
    </div>
</div>
{/if}

<!--13+1大类产品，1000多款畅销单品-->
{if condition="$index.products_title != '' "}
<div class="box4 m25">
	<div class="cp-title"><strong><a href="{:url('index/index/chanpinzhanshi')}" target="_blank">{$index.products_title}</a></strong><a href="todo" class="more" target="_blank">产品类别>></a><a href="products/index.htm" class="more" target="_blank">新品上线>></a></div>
    <div class="cp-box"><a href="{:url('index/index/chanpinzhanshi')}" title="{$index.products_title}"><img src="{$index.products_logo}" alt="{$index.products_title}"></a></div>
</div>
{/if}

<!-- 新闻中心-->

<div class="box clearfix m25">
<!--利润分析-->
    {foreach $investMenu as $k => $imenu}
    {if condition="$k == 2"}
        <div class="in_news1 in_news right" style="margin-right:0;">
    {else /}
        <div class="in_news1 in_news left">
    {/if}

            <h2 class="title"><strong><a href="#" target="_blank">{$imenu.name}</a></strong><a href="{:url('index/index/' . $imenu['pinyin'])}" class="more" target="_blank">更多+</a></h2>
            {if condition="isset( $invests[$imenu['pinyin']][0])" }
                <dl>
                    <dt><a href="{:url('index/index/touzidetail', ['id'=>$invests[$imenu['pinyin']][0]['id']])}"><img src="{$invests[$imenu['pinyin']][0]['image']}" alt="{$invests[$imenu['pinyin']][0]['title']}" title="{$invests[$imenu['pinyin']][0]['title']}" width="70px" height="70px"></a></dt>
                    <dd> <strong><a href="{:url('index/index/touzidetail', ['id'=>$invests[$imenu['pinyin']][0]['id']])}" title="{$invests[$imenu['pinyin']][0]['title']}" target="_blank">{$invests[$imenu['pinyin']][0]['title']}</a></strong>
                        <p>{$invests[$imenu['pinyin']][0]['content']|htmlspecialchars_decode|strip_tags|mb_substr=###,0,43,'utf-8' }...<a href="{:url('index/index/touzidetail', ['id'=>$invests[$imenu['pinyin']][0]['id']])}" title="" target="_blank">详情>></a></p>
                    </dd>

                </dl>
            {/if}
            <ul>
                {foreach $invests[$imenu['pinyin']] as $kk => $invest}
                <?php if ($kk == 0) {continue;} ?>
                <li><em>{$invest.create_time|date='Y-m-d', ###}</em><a href="{:url('index/index/touzidetail', ['id'=>$invest['id']])}" title="{$invest.title}" target="_blank">{$invest.title}</a></li>
                {/foreach}
            </ul>
        </div>
    {/foreach}

</div>


{if condition="count($service) > 0"}
<!--加盟服务-->
<div class="box4 m25">
	<div class="common_hd">
		<div class="tit"><a href="{:url('index/index/yingxiaoyoushi')}"><img src="__STATIC__/images/index/jmfw.png" alt="加盟服务"></a></div>
		<div class="info">{$index.service_title}</div>
		<div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
	</div>
    
    <div class="jmfw">
    	<dl>
        	<dt>{$index.service_subtitle|htmlspecialchars_decode}</dt>
            {foreach $service as $item}
            <dd><a href="{:url('index/index/yingxiaoyoushi')}" title="加盟服务"><img src="{$item.image}" alt="加盟服务"></a></dd>
            {/foreach}
        </dl>
    </div>
    
    <div class="jmfw-zx"><a href="javascript:void(0)" onclick="online()"><img src="{$index.service_logo}" alt="多倍利润 咨询加盟详情"></a></div>
</div>
{/if}

{if condition="$join == 1"}
<!--加盟案例-->
<div class="box4 m25">
	<div class="common_hd">
		<div class="tit"><img src="__STATIC__/images/index/jmal.png" alt="加盟案列"></div>
		<div class="info">{$index.join_title}</div>
		<div class="more"><a href="javascript:void(0)" onclick="online()"><img src="__STATIC__/images/index/index_ask_btn.gif" alt="立即在线咨询"></a></div>
	</div>
    
    <div class="jmal">
    	<dl>
        	<dt>{$index.join_subtitle|htmlspecialchars_decode}</dt>
            {foreach $fengcais as $item}
            <dd>
                <div class="tabbox dingwei"> 
                    <a href="{:url('index/index/ganyandetail', ['id'=>$item['id']])}" >
                        <img src="{$item.image}" alt="{$item.title}">
                        <div class="tabtext">{$item.title}</div>
                    </a>
                </div>
            </dd>
            {/foreach}

            {foreach $ganyans as $item}
            <dd>
                <div class="tabbox dingwei">
                    <a href="{:url('index/index/ganyandetail', ['id'=>$item['id']])}" >
                        <img src="{$item.image}" alt="{$item.title}">
                        <div class="tabtext">{$item.title}</div>
                    </a>
                </div>
            </dd>
            {/foreach}
        </dl>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".tabtext").hide();
            $(".tabbox").hover(function(){
                $(".tabtext",this).slideToggle(500);
            });
        });
    </script>
    </div>
</div>
{/if}
{/block}