<div class="viewport">
    <header class="header">
        <div class="logo1">
            <img src="../templets/ysg/public/images/logo1.png" alt="一扫光全球零食量贩"/>
        </div>
        <aside>
            <a href="javascript:void(0)" class="opennav">导航</a>
            <a href="javascript:history.go(-1)"  class="fhui">返回</a>
        </aside>
    </header>

    <nav class="h_nav">
	   <ul>
    	   <li><a href="../index.htm">首 页</a></li>
	       <li><a href="../guanyuwomen/index.htm">关于我们</a>
        </ul>
    </nav>

    <!--焦点广告 End-->
    <div class="weizhi">当前位置：<a href="../index.htm">首页</a> &gt; <b><a href="index.htm">联系方式</a></b></div>

    <article>

        <div class="clearfix content2">
            <div class="box" style="background-color:#fff; margin-top:36px;">
            	<div>
            		<img height="418" src="../templets/ysg/images/contact/1.jpg" width="980" />
                </div>

            	<div class="clearfix contact">
            		<img alt="一扫光大楼" height="399" src="../templets/ysg/images/gongsijieshao/4.jpg" width="357" />
            		<div class="contact_js">
            			<h1>一扫光公司</h1>
            			<p>全国统一加盟热线：400-618-1717 021-57727777</p>
            			传真：021-60820909<br />
            			网址：http://www.ysg.cn<br />
            			邮箱：ysg1717@126.com<br />
            			地址：中国上海市沪太路3100号尚大国际D座413室<br />
            			乘车路线：地铁7号线上大路站4号口出、528、828等
                    </div>
            	</div>
            </div>

        </div>
    </article>

</div>