
<div class="viewport">
    <header class="header">
        <div class="logo1">
            <img src="../templets/ysg/public/images/logo1.png" alt="一扫光全球零食量贩"/>
        </div>
        <aside>
            <a href="javascript:void(0)" class="opennav">导航</a>
            <a href="javascript:history.go(-1)"  class="fhui">返回</a>
        </aside>
    </header>
    <nav class="h_nav">
    	<ul>
        	<li><a href="../index.htm">首 页</a></li>
    	   <li><a href="../guanyuwomen/index.htm">关于我们</a></li>
           <li><a href="../zhinan/index.htm">加盟指南</a></li>
           <li><a href="../fangan/index.htm">加盟方案</a></li>
           <li><a href="../anli/index.htm">成功案例</a></li>
           <li><a href="../products/index.htm">产品展示</a></li>
           <li><a href="../qiyenews/index.htm">企业新闻</a></li>
           <li><a href="../lianxi/index.htm">联系方式</a></li>
           <li><a href="index.htm">利润分析</a></li>
           <li><a href="../kuaixun/index.htm">行业快讯</a></li>
           <li><a href="../baodao/index.htm">媒体报道</a></li>
           <li><a href="../chengben/index.htm">成本费用</a></li>
        </ul>
    </nav>

<!--焦点广告 Start-->
<article class="pic">
	<div class="scroll relative">
		<div id="scroll_img" class="scroll_box" style="visibility: visible;">
			<ul class="scroll_wrap" style="width: 2560px;">
                <li><a onclick="online()" href="javascript:void(0)"><img width="100%" alt="一扫光零食量贩，感恩大回馈" src="../templets/ysg/public/images/flash/1.jpg"></a></li>
                <li><a onclick="online()" href="javascript:void(0)"><img width="100%" alt="一扫光零食量贩，感恩大回馈" src="../templets/ysg/public/images/flash/07.jpg"></a></li>
				<li><a onclick="online()" href="javascript:void(0)"><img width="100%" alt="老牌零食加盟企业,综合实力雄厚" src="../templets/ysg/public/images/flash/banner3.jpg"></a></li>
				<li><a onclick="online()" href="javascript:void(0)"><img width="100%" alt="20000㎡现代化,超大型仓储物流基地" src="../templets/ysg/public/images/flash/banner4.jpg"></a></li>
				<li><a onclick="online()" href="javascript:void(0)"><img width="100%" alt="13+1大类,1000多款畅销单品" src="../templets/ysg/public/images/flash/banner5.jpg"></a></li>
			</ul>
		</div>
		<ul id="scroll_position" class="scroll_position">
			<li class="on"><a href="javascript:void(0);"></a></li>
			<li><a href="javascript:void(0);"></a></li>
			<li><a href="javascript:void(0);"></a></li>
			<li><a href="javascript:void(0);"></a></li>
            <li><a href="javascript:void(0);"></a></li>
		</ul>
	</div>
</article>
<script>
	var slider = Swipe(document.getElementById('scroll_img'), {
		auto: 3000,
		continuous: true,
		callback: function(pos) {
			var i = bullets.length;
			while (i--) {
				bullets[i].className = ' ';
			}
			bullets[pos].className = 'on';
		}
	});
	var bullets = document.getElementById('scroll_position').getElementsByTagName('li');
	$(function(){
		$('.scroll_position_bg').css({
			width:$('#scroll_position').width()
		});
	});
</script>
<!--焦点广告 End-->

<div class="weizhi">当前位置：<a href="../index.htm">首页</a> >  <b><a href="index.htm">利润分析</a></b></div>
<article>
    
    <div class="news_list">
    	<ul>
            <li>
            	<a href="todo" ><img src="../uploads/allimg/171130/1-1G1301I234223-lp.jpg"/></a>
                <strong><a href="2502.html"><b>休闲食品加盟品牌，实地考察需要注意的几个方面</b></a></strong>
                <p>当投资者在考察零食加盟品牌的时候，不能光看网上的评论，要知道现如今网络言论自由，不排除有恶意竞争的现象出现，为了避免流失一个好的 休闲食品加盟 品牌，【一扫光零食量...</p>
            </li>
            
        </ul>
    </div>
    
    <div class="page">
		<ol class="pagination">
            <li class="thisclass">1</li>
            <li><a href="list_55_2.html">下一页</a></li>
        </ol>
    </div>	
		
</article>