
.weizhi{ height:42px;  line-height:42px; color:#666; width:980px; margin:22px auto 0 auto; text-align:left;}
.weizhi a{ color:#666;}

.contact{ padding:22px 18px;}
.contact img{ float:left;}
.contact_js{ margin-left:386px; font-size:18px; font-family:"微软雅黑"; line-height:40px;}
.contact_js h1{ font-size:27px; color:#FF800E; padding:10px 0;}